Package: apache2-webshop-conf
Version: 0.1
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf (>= 0.2.17)
Depends: apache2, mysql-server, php5, php5-xdebug, libapache2-mod-php5, php5-mysql, php-pear
Suggests: svelte, webproject-tools
Maintainer: mrenyard72@gmail.com
Description: Apache2 WebShop Configuration. Optimized webserver setup.
 Includes such features as:
 - Maximised Concurent Server Connections
 - Development Mode Switching
     including specialist scratch files (css/html)
     firePHP output as standard
 - Live Server Performance Advancements
 - Autoload php class's
 - with PhpDocumentor and PHPUnit
