Package: apache2-webshop-conf
Version: 0.1
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf (>= 0.2.17)
Depends: apache2, openssl, php, php-xdebug, libapache2-mod-php, php-mysql, MySQL-server, postfix
Suggests: ramp, webproject-tools
Maintainer: renyard.m@gmail.com
Description: Apache2 WebShop Configuration. The optimized webserver setup recommended for RAMP project hosting.
Includes such features as:-
- Maximised Concurent Server Connections
- Development Mode Switching
  - including specialist scratch files (css/html)
  - ChromePHP output as standard
- Live Server Performance Advancements
